{% extends "base.twig" %}

{% block content %}
    <h1 class="page-title">{{post.title}}</h1>
    {{post.content}}
    <div class="hr hr-teal"></div>
    {% for post in posts %}
        {% include 'tease-post.twig' %}
    {% endfor %}

{% endblock %}