<svg class="header-svg-mobile" id="header-svg-mobile" width="119px" height="85px" viewBox="0 0 119 85" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>menu_toggle_background</title>
    <defs></defs>
    <g id="Drafts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="iPhone-7" transform="translate(-250.000000, -8.000000)">
            <g id="menu_toggle_background" transform="translate(250.000000, 8.000000)">
                <polygon class="layer" data-depth="0.5" id="bot" fill="#2F888E" points="40.7601166 13.5099988 56.4593056 36.8043692 44.1368944 62.0690563 16.1152941 64.039373 0.416105081 40.7450026 12.7385163 15.4803155"></polygon>
                <polygon class="layer" data-depth="0.75" id="mid" fill="#E1DB92" points="78.5575351 12.9409111 89.9440512 48.0310266 65.2424641 75.4649185 29.1543608 67.8086947 17.7678447 32.7185791 42.4694318 5.28468731"></polygon>
                <polygon class="layer" data-depth="1" id="top" fill="#A92541" points="118.219629 28.276194 110.049567 70.2211841 69.6174935 84.1430635 37.3554821 56.1199528 45.5255443 14.1749627 85.957618 0.253083272"></polygon>
            </g>
        </g>
    </g>
</svg>