<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
    <symbol viewBox="0 0 433 510" id="developed">
        <title>developed</title>
        <g id="icons" fill="none" fill-rule="evenodd">
            <g id="developed">
            <path d="M35 49v406c0 7.732 6.267 14 13.995 14h318.01c7.724 0 13.995-6.27 13.995-14V49c0-7.732-6.267-14-13.995-14H48.995C41.27 35 35 41.27 35 49zM0 49C0 21.937 21.944 0 48.995 0h318.01C394.065 0 416 21.94 416 49v406c0 27.062-21.944 49-48.995 49H48.995C21.935 504 0 482.06 0 455V49z" id="outline" fill="#184155" fill-rule="nonzero"/>
            <g id="text_blobs" transform="translate(57 71)">
                <rect id="Rectangle-Copy" fill="#E1DB92" width="51" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-2" fill="#E14A69" x="65" width="122" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-3" fill="#184155" x="201" width="36.721" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-5" fill="#2F888E" y="29" width="74.771" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-14" fill="#E14A69" x="89" y="29" width="36.721" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-6" fill="#184155" y="58" width="122" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-15" fill="#E1DB92" x="129" y="58" width="58" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-7" fill="#E14A69" y="87" width="36.721" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-16" fill="#2F888E" x="51" y="87" width="88" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-8" fill="#2F888E" y="116" width="88" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-17" fill="#E1DB92" x="99" y="116" width="58" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-9" fill="#E14A69" y="145" width="139" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-18" fill="#2F888E" x="148" y="145" width="75" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-10" fill="#E1DB92" y="174" width="74.771" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-11" fill="#184155" y="203" width="201" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-22" fill="#2F888E" x="211" y="203" width="75" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-12" fill="#E14A69" y="232" width="148.315" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-13" fill="#2F888E" y="261" width="88" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-23" fill="#E1DB92" x="101" y="261" width="110" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-20" fill="#E1DB92" y="290" width="88" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-21" fill="#184155" x="99" y="290" width="51" height="17" rx="8.5"/>
                <rect id="Rectangle-Copy-19" fill="#E14A69" x="224" y="261" width="51" height="17" rx="8.5"/>
            </g>
            </g>
        </g>
    </symbol>
</svg>