// Globals

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba($white, 0);
}

html {
    font-family: 'Quicksand', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    // outline-color: $red;
    outline: none;
    // box-shadow: 0 0 3px rgba($red, 0.75);
}

// Layout

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $light_blue;
    // background-image: linear-gradient(to top, darken($light_blue, 10), $light_blue);
}

.container {
    max-width: $container_size;
    margin: 0 auto;
}


section.content-wrapper {
    padding: calc(184px + 1em) 2em 2em;
    flex: 1 0 auto;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    @include media("<=700px") {
        padding-top: calc(102px + 1em);
    }
    @include media("<=phone") {
        padding: calc(102px + 1em) 1em 2em;
    }
}

.wrapper.title-projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    > article {
        flex-basis: 49%;
    }
    @include media("<=700px") {
        > article {
            flex-basis: 100%;
        }
    }
}



// Content element styles

::selection {
  background: $pink;
  color: $white;
}
::-moz-selection {
  background: $pink;
  color: $white;
}

.content-wrapper {
    h1,h2,h3,h4,h5,h6 {
        color: $dark_teal;
    }
    p,
    a {
        line-height: 1.6;
    }
    a {
        @include anchor;
    }
    pre {
        font-size: 0.85em;
        padding: 1em;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 5px;
        overflow-y: scroll;
    }
    table {
        table-layout: auto;
    }
    article:not('.teaser') img {
        box-shadow: 0 2px 5px rgba($black, 0.35);
    }
    img {
        @include media("<=475px") {
            width: 100%;
        }
    }
} 

