// Globals

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: $red;
}

// Layout

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $light_blue;
    background-image: linear-gradient(to top, darken($light_blue, 10), $light_blue);
}


section.content-wrapper {
    padding: 177px 2em 2em;
    flex: 1 0 auto;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    @include media("<=700px") {
        padding-top: 202px;
    }
    @include media("<=phone") {
        padding: 202px 1em 2em;
    }
}

.wrapper.title-projects {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    > article {
        flex-basis: 49%;
    }
    @include media("<=700px") {
        > article {
            flex-basis: 100%;
        }
    }
}



// Content element styles
.content-wrapper {
    h1,h2,h3,h4,h5,h6 {
        color: $dark_teal;
    }
    p,
    a {
        line-height: 1.6;
    }
    a {
        color: $teal;
        text-decoration: none;
        font-weight: bold;
        position: relative;
        transition: color 0.25s ease-out;
        &:after {
            position: absolute;
            width: 0;
            height: 2px;
            background-color: $teal;
            content: '';
            display: block;
            transition: all 0.25s $ease-out-back;
            transform: translateX(-50%);
            left: 50%;
        }
        &:hover,
        &:focus,
        &:hover:focus {
            color: $red;
            &:after {
                background-color: $red;
                width: 100%;
            }
        }
    }
    pre {
        font-size: 0.85em;
        padding: 1em;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 5px;
        overflow-y: scroll;
    }
    article:not('.teaser') img {
        box-shadow: 0 2px 5px rgba($black, 0.35);
    }
} 

