.header {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    flex: 0;
    width: 100%;
    top: 0;
    // @include media("<=phone") {
    //     top: 
    // }
    .wrapper {
        // min-height: 177px;
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        // position: relative;
        z-index: 10;
        @include media("<=700px") {
            margin-top: 10px;
        }
    }
    .header-svg,
    .header-svg-mobile {
        overflow: visible;
        z-index: 1;
        position: absolute;
        pointer-events: none;
    }
}

.hdr-logo {
    flex-basis: 100%;
    text-align: center;
    z-index: 15;
    position: relative;
    @include media("<=700px") {
        text-align: left;
        padding-left: 10px;
    }
}

.hdr-logo-link {
    z-index: 10;
    font-family: 'Monoton', display;
    color: $light_blue;
    text-decoration: none;
    display: inline-block;
    font-size: 4.5em;
    transition: all 0.75s $ease-out-back;
    position: relative;
    background-color: $dark_teal;
    padding: 0.095em 0.15em 0.05em;
    box-shadow: 0 2px 6px rgba($black, 0.35);
    text-shadow: -3px 0 0 rgba($teal, 1);
    &:focus,
    &:active {
        color: $dark_teal;
        background-color: $light_blue;
        text-shadow: -3px 0 0 rgba($pink, 1);
        transform: rotateY(1turn);
    }
    @include media("<=700px") {
        background-color: $white;
        color: $dark_teal;
        &.flip {
            color: $light_blue;
            background-color: $dark_teal;
            transform: rotateY(-1turn);
            &:focus,
            &:active {
                transform: rotateY(0turn);
                background-color: $light_blue;
                color: $dark_teal;
            }
        }
    }
}


.header-svg,
.header-svg-mobile {
    .l-top,
    .r-top {
        fill: $maroon;
    }
    .l-mid,
    .r-mid {
        fill: $tan;
    }
    .l-bot,
    .r-bot {
        fill: $teal;
    }
    @include media("<=700px") {
        display: none;
        visibility: hidden;
    }
}

.header-svg-mobile {
    right: 0;
    display: none;
    visibility: hidden;
    margin-top: 10px;
    @include media("<=700px") {
        display: block;
        visibility: visible;
    }
}