@mixin smart-margin($direction, $amount) {
    margin-#{$direction}: $amount;
    &:last-of-type {
        margin-#{$direction}: 0;
    }
}

@mixin cta($color) {
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 35px;
    color: $white;
    background-color: $color;
    border: 2px solid $color;
    transition: all 0.25s ease-out;
    box-shadow: 0 2px 4px rgba($black, 0.25);
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $color;
        box-shadow: 0 0 1px rgba($black, 0.15);
    }
    @include media("<=550px") {
        width: 100%;
        @include smart-margin(bottom, 1em);
    }
}

@mixin pseudo-icon($size) {
    content: '';
    width: $size;
    height: $size;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}