.separator {
    color: $maroon;
    &.separator-dark {
        color: $tan;
    }
}

.alignright {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
}

.alignleft {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
}

.center {
    text-align: center;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}