// Colors

$dark_teal:      #184155;
$tan:            #E1DB92;
$light_blue:     #DAE4E8;
$teal:           #2F888E;
$red:            #E14A69;
$maroon:         #A92541;

$white:          #ffffff;
$black:          #000000;


// Easings

$ease_out_expo:   cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease_out_back:   cubic-bezier(0.175, 0.885, 0.320, 1.275);