.hr {
    height: 2px;
    background-color: $gray;
    margin: 1em 0;
    &.hr-double {
        margin: 2em 0;
    }
}

.hr-short-chubby {
    width: 75px;
    height: 4px;
    background-color: $gray;
    display: block;
    margin: 2em auto;
}

.hr-teal {
    background-color: $teal;
}

.hr-light-blue {
    background-color: $light_blue;
}
